<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %>></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/signup" method="post">
      <input type="text" name="userid" placeholder="ID를 입력하세요" required />
      <button type="button" onclick="checkId()">중복확인</button>
      <input
        type="text"
        name="username"
        placeholder="이름을 입력하세요"
        required
      />
      <input
        type="password"
        name="password"
        placeholder="Password를 입력하세요"
        required
      />
      <input
        type="password"
        name="repassword"
        placeholder="확인 Password를 입력하세요"
        required
      />
      <input
        type="email"
        name="useremail"
        placeholder="email을 입력하세요"
        required
      />
      <input
        type="tel"
        name="userphone"
        placeholder="연락처 입력하세요"
        required
      />
      <input
        type="text"
        name="address"
        placeholder="주소를 입력하세요"
        required
      />
      <input
        type="text"
        name="detailAddress"
        placeholder="상세주소를 입력하세요"
        required
      />
      <button type="button" onclick="findAddress()">주소찾기</button>
      <button type="submit" onclick="checkPw()">Sign Up</button>
    </form>
    <p>이미 계정을 갖고 계신가요? <a href="/login">Login</a></p>
  </body>
</html>
